// Microsoft Visual C++ 生成的资源脚本。
//
#include "resource.h"
#define APSTUDIO_READONLY_SYMBOLS
/////////////////////////////////////////////////////////////////////////////
//
// 从 TEXTINCLUDE 2 资源生成。
//
#ifndef APSTUDIO_INVOKED
#include "targetver.h"
#endif
#include "afxres.h"
#include "verrsrc.h"

/////////////////////////////////////////////////////////////////////////////
#undef APSTUDIO_READONLY_SYMBOLS

#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE
BEGIN
    "#ifndef APSTUDIO_INVOKED\r\n"
    "#include ""targetver.h""\r\n"
    "#endif\r\n"
    "#include ""afxres.h""\r\n"
    "#include ""verrsrc.h""\r\n"
    "\0"
END

3 TEXTINCLUDE
BEGIN
    "#define _AFX_NO_SPLITTER_RESOURCES\r\n"
    "#define _AFX_NO_OLE_RESOURCES\r\n"
    "#define _AFX_NO_TRACKER_RESOURCES\r\n"
    "#define _AFX_NO_PROPERTY_RESOURCES\r\n"
    "\r\n"
    "#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_CHS)\r\n"
    "LANGUAGE 4, 2\r\n"    
    "#include ""res\\PeraDCNetDiskDaemon.rc2""  // 非 Microsoft Visual C++ 编辑的资源\r\n"
    "#include ""l.CHS\\afxres.rc""      // 标准组件\r\n"
    "#endif\r\n"
    "\0"
    "#include ""ntserv_msg.rc""\r\n"
    "\0"
END

/////////////////////////////////////////////////////////////////////////////
#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// 图标
//

// ID 值最低的图标放在最前面，以确保应用程序图标
// 在所有系统中保持一致。
IDR_MAINFRAME           ICON         "res\\PeraDCNetDiskDaemon.ico"


#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_CHS)
LANGUAGE 4, 2

/////////////////////////////////////////////////////////////////////////////
//
// 对话框
//

IDD_PERADCNETDISKDAEMON_DIALOG DIALOGEX  0, 0, 320, 200
STYLE DS_SHELLFONT | WS_POPUP | WS_VISIBLE | WS_CAPTION
 | WS_THICKFRAME
EXSTYLE WS_EX_APPWINDOW
CAPTION "PeraDCNetDiskDaemon"
FONT 9, "宋体", 400, 0, 0x86
BEGIN
    DEFPUSHBUTTON   "确定",IDOK,209,179,50,14
    PUSHBUTTON      "取消",IDCANCEL,263,179,50,14
    CTEXT           "TODO: 在此放置对话框控件。",IDC_STATIC,10,96,300,8
END

/////////////////////////////////////////////////////////////////////////////
//
// 版本
//

VS_VERSION_INFO     VERSIONINFO
FILEVERSION       131 ,2014 , 0516 , 1126
PRODUCTVERSION    131 ,2014 , 0516 , 1126
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0x0L
#endif
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404B0"
        BEGIN
            VALUE "CompanyName", "PeraGlobal"
            VALUE "FileDescription", "网盘守护进程程序"
            VALUE "FileVersion", "131.2014.0516.1126"
            VALUE "InternalName", "PeraDCNetDiskDaemon.exe"
            VALUE "LegalCopyright", "Copyright(C) 2014 PeraGlobal Inc. All rights reserved."
            VALUE "OriginalFilename", "PeraDCNetDiskDaemon.exe"
            VALUE "ProductName", "PeraDCNetDiskDaemon"
            VALUE "ProductVersion", "131.2014.0516.1126"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0804, 1200
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    IDD_PERADCNETDISKDAEMON_DIALOG, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 313
        TOPMARGIN, 7
        BOTTOMMARGIN, 193
    END
END
#endif    // APSTUDIO_INVOKED



/////////////////////////////////////////////////////////////////////////////
//
// 字符串表
//
STRINGTABLE 
BEGIN
    IDS_NTSERV_INSTALL_FAIL_OPEN_SCM 
                            "CNTService::Install, Failed call to open SCM, Error:%1"
    IDS_NTSERV_INSTALL_FAIL_LOCK_SCM 
                            "CNTService::Install, Failed call to lock SCM, Error:%1"
    IDS_NTSERV_INSTALL_FAIL_CREATESERVICE 
                            "CNTService::Install, Failed call to CreateService, Error:%1"
    IDS_NTSERV_INSTALL_FAIL_INSTALL_AS_EVENT_LOG_SOURCE 
                            "CNTService::Install, Failed call to install service as an event log source, Error:%1"
    IDS_NTSERV_UNINSTALL_FAIL_OPEN_SCM 
                            "CNTService::Uninstall, Failed call to open SCM, Error:%1"
    IDS_NTSERV_UNINSTALL_FAIL_OPEN_SERVICE 
                            "CNTService::Uninstall, Failed call to OpenService, Error:%1"
    IDS_NTSERV_UNINSTALL_FAIL_WAIT_FOR_STOP 
                            "CNTService::Uninstall, Failed call to WaitForStop, Error:%1"
    IDS_NTSERV_UNINSTALL_FAIL_DELETE_SERVICE 
                            "CNTService::Uninstall, Failed call to DeleteService, Error:%1"
    IDS_NTSERV_UNINSTALL_FAIL_UNINSTALL_EVENTLOG_SOURCE 
                            "CNTService::Uninstall, Failed call to remove service as an event log source, Error:%1"
    IDS_NTSERV_FAIL_START_SERVICE "Failed to start the service, Error:%1"
    IDS_NTSERV_FAIL_STOP_SERVICE "Failed to stop the service, Error:%1"
    IDS_NTSERV_FAIL_CONTINUE_SERVICE 
                            "Failed to continue the service, Error:%1"
    IDS_NTSERV_FAIL_PAUSE_SERVICE "Failed to pause the service, Error:%1"
    IDS_NTSERV_FAIL_START_SERVICE5 "Failed to start the service, Error:%1"
    IDS_NTSERV_VERBOSE_ERROR_STRING "%1, %2"
END

STRINGTABLE 
BEGIN
    IDS_NTSERV_UNINSTALL_FAIL_STOP 
                            "CNTService::Uninstall, Failed to stop service, Error:%1"
    IDS_NTSERV_SETSERVICETOSTATUS_FAIL_OPEN_SCM 
                            "CNTService::SetServiceToStatus, Failed call to open SCM, Error:%1"
    IDS_NTSERV_SETSERVICETOSTATUS_FAIL_OPEN_SERVICE 
                            "CNTService::SetServiceToStatus, Failed call to OpenService, Error:%1"
    IDS_NTSERV_SETSERVICETOSTATUS_FAIL_START 
                            "CNTService::SetServiceToStatus, Failed to start the service, Error:%1"
    IDS_NTSERV_SETSERVICETOSTATUS_FAIL_CONTINUE 
                            "CNTService::SetServiceToStatus, Failed to continue the service, Error:%1"
    IDS_NTSERV_SETSERVICETOSTATUS_FAIL_PAUSE 
                            "CNTService::SetServiceToStatus, Failed to pause the service, Error:%1"
    IDS_NTSERV_SETSERVICETOSTATUS_FAIL_STOP 
                            "CNTService::SetServiceToStatus, Failed to stop the service, Error:%1"
    IDS_NTSERV_SETSERVICETOSTATUS_FAIL_WAITFORCHANGE 
                            "CNTService::SetServiceToStatus, Failed to wait for the service to change state, Error:%1"
    IDS_NTSERV_SETSERVICETOSTATUS_FAIL_QUERYSTATUS 
                            "CNTService::SetServiceToStatus, Failed to check the service status, Error:%1"
    IDS_NTSERV_INSTALL_GET_DEPENDENCIES 
                            "CNTService::Install, Failed to get service dependencies, Error:%1"
    IDS_NTSERV_INSTALL_FAIL_CHANGEDESCRIPTION 
                            "CNTService::Install, Failed to change service description, Error:%1"
    IDS_NTSERV_INSTALL_FAIL_CHANGESIDINFO 
                            "CNTService::Install, Failed to change service SID info, Error:%1"
    IDS_NTSERV_INSTALL_FAIL_CHANGEDELAYAUTOSTART 
                            "CNTService::Install, Failed to change service DelayAutoStart setting, Error:%1"
    IDS_NTSERV_INSTALL_FAIL_CHANGEPRIVILEGES 
                            "CNTService::Install, Failed to change service privileges, Error:%1"
    IDS_NTSERV_INSTALL_FAIL_CHANGEPRESHUTDOWNTIMEOUT 
                            "CNTService::Install, Failed to change service Preshutdown timeout, Error:%1"
END


#endif

#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// 从 TEXTINCLUDE 3 资源生成。
//
#define _AFX_NO_SPLITTER_RESOURCES
#define _AFX_NO_OLE_RESOURCES
#define _AFX_NO_TRACKER_RESOURCES
#define _AFX_NO_PROPERTY_RESOURCES

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_CHS)
LANGUAGE 4, 2
#include "res\\PeraDCNetDiskDaemon.rc2"  // 非 Microsoft Visual C++ 编辑的资源
#include "l.CHS\\afxres.rc"      // 标准组件
#endif
#include "ntserv_msg.rc"
/////////////////////////////////////////////////////////////////////////////
#endif    // 不是 APSTUDIO_INVOKED

